body {
  background: black;
  color: #f4f4f2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  color: #ddf247;
}
  
.nav-links {    
  display: flex;    
  justify-content: flex-end; 
  list-style: none;            
}

a {
  text-decoration: none;
  color: #ddf247;    
  margin: 10px; 
}

a:hover, a:active{
  color: #f1511b;  
}
 
.hero p{
  padding: 20px;

}

.title{
  color: #f1511b;  
  font-size: 170px;    
  display: block;
  text-align: center;
  margin: 0;
  padding-inline: 10px;
  box-sizing: border-box;  
  white-space: nowrap;    
}

footer {
  display: block;  
  color: #f4f4f2;  
  padding-inline: 20px;
  
}

.footer-cta{
  display: flex;
  justify-content: space-between;
}

#footer-btn {
  border-color: #ddf247; 
  color: #f4f4f2;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  background: none;
  border-radius: 10px;
}

#footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    
}

#footer-div p:first-child{
  max-width: 40%;
  word-wrap: break-word;
  display: inline-block;
}

.footer-links {
  display: block;
  list-style: none;
  justify-content: flex-end;
} 

.copyright {
  display: block;
  text-align: center;
  margin: 0; 
}

.copyright p:first-of-type {
  font-size: 300pt;  
  opacity: 0.3;
  overflow: hidden;
  margin: 0;  
  position: relative;
  clip-path: inset(0 0 38% 0);  
}

.copyright p sup {
  font-size: 20pt;
  position: relative;
  top:-4em;
}

hr {  
  border: 0;
  border-top: 1px solid #f1511b;
  opacity: 0.6;
}




